@import "main";
@import "../../../node_modules/swiper/swiper.min.css";

body {
  background-color: #FFFFFF;
  color: #000000;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.hero {
  min-height: clamp(900px,100vh,1080px);

  @include media-breakpoint-down(xxxm) {
    min-height: clamp(760px,100vh,787px);
  }

  @include media-breakpoint-down(xxl) {
    min-height: clamp(675px,100vh,787px);
  }

  @include media-breakpoint-down(sm) {
    min-height: clamp(592px,100vh,675px);
  }

  &-bg {
    width: auto;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-text {
    margin-bottom: 41px;

    @include media-breakpoint-down(xxxl) {
      margin-bottom: 26px;
    }

    @include media-breakpoint-down(xxxm) {
      margin-bottom: 10px;
    }

    & > .hs_cos_wrapper {
      & > h1 {
        @include title-l;
        margin-bottom: 15px;

        @include media-breakpoint-down(xxxl) {
          margin-bottom: 8px;
        }

        & > span {
        }
      }
      & > p{
        @include text-l;

        &:last-of-type {
          margin-bottom: 0;
        }

        & br {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
  }

  &-logos {
    //max-width: 1462px;
    bottom: 14.388889%;

    @include media-breakpoint-down(sm) {
      bottom: 15.388889%;
    }

    &-item {
      height: 50px;

      & > img {

      }
    }
  }

  &-shopify {
    max-width: 265px;
    bottom: 3.981481481%;
  }

  &-line {
    background-color: #25BBEB;
    height: 9px;
    width: 1500px;

    @include media-breakpoint-down(xxxl) {
      width: 1300px;
    }

    @include media-breakpoint-down(xxxm) {
      width: 1150px;
    }

    @include media-breakpoint-down(xxl) {
      width: 995px;
    }
  }
}

@mixin make-about-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 1445px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.about {
  padding: 128px 0 250px;

  @include media-breakpoint-down(xxxl) {
    padding: 110px 0 240px;
  }

  @include media-breakpoint-down(xxl) {
    padding: 65px 0 240px;
  }

  @include media-breakpoint-down(xl) {
    padding: 65px 0 200px;
  }

  @include media-breakpoint-down(md) {
    padding: 65px 0 110px;
  }

  @include media-breakpoint-down(sm) {
    padding: 65px 0 80px;
  }

  &-container {
    @include make-about-container(12px);
  }

  &-text {
    & > .hs_cos_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > h2 {
        @include title-m;

        margin-bottom: 12px;

        max-width: 1135px;

        @include media-breakpoint-down(xxxl) {
          margin-bottom: 8px;
        }

        @include media-breakpoint-down(xxl) {
          max-width: 855px;
        }

        @include media-breakpoint-down(xl) {
          max-width: 830px;
        }
      }

      & > p {
        @include text-m;

        max-width: 576px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &-item {
    background-color: #F9F9F9;
    border-bottom: 4px solid #25BBEB;
    padding: 20px 20px 18px;

    @include media-breakpoint-down(lg) {
      max-width: 564px;
    }

    & > .hs_cos_wrapper {
      & > * {
        &:last-of-type {
          margin-bottom: 0 !important;

        }
      }
      & > h3 {
        @include title-s;

        margin-bottom: 12px;
      }

      & > p {
        @include text-m;

        margin-bottom: 16px;
      }
    }
  }
}

@mixin make-service-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 1229px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}


.service {
  padding-bottom: 170px;

  @include media-breakpoint-down(xxxl) {
    padding-bottom: 150px;
  }

  @include media-breakpoint-down(xxl) {
    padding-bottom: 120px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 70px;
  }

  &-container {
    @include make-service-container(12px);

    margin-bottom: 200px;

    @include media-breakpoint-down(xxxl) {
      margin-bottom: 150px;
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 100px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 60px;
    }
  }
  &-arrows {
    right: -124px;
    top: 0;
    transform: translate(0, -31%);
  }
  &-img {
    @include media-breakpoint-down(lg) {
      max-width: 380px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 290px;
    }

    & img {
      position: relative;
      z-index: 3;
      filter: drop-shadow(0px 71px 99px rgba(0, 0, 0, 0.34));
      max-width: 100%;
      height: auto;
    }
    &-dots {
      position: absolute !important;
      z-index: 2;
      left: -4.02897%;
      bottom: 16.50685%;
      filter: none !important;

      @include media-breakpoint-down(lg) {
        width: 23%;
      }
    }
    &-bg {
      filter: none !important;
      position: absolute !important;
      z-index: 1;

      left: 61%;
      bottom: -42px;
      transform: translate(-100%, 0);
      max-width: none !important;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  & > .hs_cos_wrapper {
    width: 100%;
  }
  &-text {
    & > .hs_cos_wrapper {
      & > h2 {
        @include title-m;

        margin-bottom: 12px;

        max-width: 1135px;
      }

      & > p {
        @include text-m;

        max-width: 576px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &-item {
    &:last-of-type {
      & .service-item-ball {
        &:after {
          content: none;

          @include media-breakpoint-down(md) {
            content: '';
            background-color: #f9f9f9;
            height: 50px;
            bottom: -2px;
          }
        }
      }
    }
    &:nth-of-type(2n+1) {
      min-height: 333px;

      @include media-breakpoint-down(xxl) {
        min-height: calc(333px + 90px);
      }

      @include media-breakpoint-down(xl) {
        min-height: 350px;
      }

      @include media-breakpoint-down(lg) {
        min-height: 300px;
      }

      @include media-breakpoint-down(md) {
        min-height: 330px;
      }

      & .service-item-ball {
        background-color: white;
      }
    }
    &:nth-of-type(2n+0) {
      min-height: 358px;

      @include media-breakpoint-down(xxl) {
        min-height: calc(358px + 85px);
      }

      @include media-breakpoint-down(xl) {
        min-height: 350px;
      }

      @include media-breakpoint-down(lg) {
        min-height: 300px;
      }

      @include media-breakpoint-down(md) {
        min-height: 330px;
      }

      & .service-item-bg {
        background-color: #F9F9F9;
      }
      & .service-item-ball {
        background-color: #F9F9F9;
      }
    }

    &-inner {
      padding: 0;

      @include media-breakpoint-down(xxxl) {
        max-width: 1100px;
      }

      @include media-breakpoint-down(xxxm) {
        max-width: 980px;
      }

      @include media-breakpoint-down(xxl) {
        max-width: 750px;
      }

      @include media-breakpoint-down(xl) {
        max-width: 745px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 675px;
      }

      @include media-breakpoint-down(md) {
        max-width: 505px;
      }

      @include media-breakpoint-down(md) {
        max-width: 285px;
        margin-left: 20px;
      }
    }
    &-content {
      & > .hs_cos_wrapper {
        & > p {
          @include text-s;
          text-transform: uppercase;
          color: #B8B8B8;
          margin-bottom: 7px;
        }
        & > div {
          & > h2 {
            @include title-s;
            line-height: 33px;
            font-weight: 400;
            margin-bottom: 7px;
          }
          & > p {
            @include text-m;
            margin-bottom: 12px;
            max-width: 405px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &-ball {
      flex-shrink: 0;

      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin-right: calc(125.9px - 36px);

      transform: translate(-50%, 0);

      border: 2px solid #CECECE;

      @include media-breakpoint-down(xxxl) {
        margin-right: 70.9px;
      }

      @include media-breakpoint-down(xxxm) {
        margin-right: 60px;
      }

      @include media-breakpoint-down(xxl) {
        margin-right: 15px;
      }

      @include media-breakpoint-down(xl) {
        margin-right: 0;
      }

      @include media-breakpoint-down(lg) {
        height: 45px;
        width: 45px;
      }

      @include media-breakpoint-down(md) {
        height: 20px;
        width: 20px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 2px;
        height: 300px;
        background-color: #CECECE;
        transform: translate(-50%, 100%);

        @include media-breakpoint-down(xxl) {
          height: 391px;
        }

        @include media-breakpoint-down(xl) {
          height: 310px;
        }

        @include media-breakpoint-down(lg) {
          height: 230px;
        }

        @include media-breakpoint-down(md) {
          height: 340px;
        }
      }
    }
    &-bg {
      max-width: 70vw;

      @include media-breakpoint-down(xxxl) {
        max-width: 1250px;
      }

      @include media-breakpoint-down(xxxm) {
        max-width: 1140px;
      }

      @include media-breakpoint-down(xxl) {
        max-width: 972px;
      }

      @include media-breakpoint-down(xl) {
        max-width: 825px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 640px;
      }

      &-img {
        transform: translate(50%, -50%);

        @include media-breakpoint-down(md) {
          transform: translate(-12px,-50%);
        }

        @include media-breakpoint-down(sm) {
          transform: translate(-12px, 28px);
          max-width: 95px !important;
          top: 0 !important;
        }
      }
    }
  }
}

.bootcamp {
  padding-bottom: 250px;

  @include media-breakpoint-down(xxxl) {
    padding-bottom: 190px;
  }

  @include media-breakpoint-down(xxl) {
    padding-bottom: 125px;
  }

  &-img {
    & > img {
      margin-bottom: 23px;

      &:last-of-type {
        margin-bottom: 8px;
      }
    }
  }

  &-text {
    & > .hs_cos_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > h2 {
        @include title-m;

        margin-bottom: 19px;

        max-width: 1135px;

        @include media-breakpoint-down(xxl) {
          margin-bottom: 11px;
        }
      }

      & > p {
        @include text-m;

        max-width: 576px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.benefits {
  padding-bottom: 340px;

  @include media-breakpoint-down(xxxm) {
    padding-bottom: 305px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 240px;
  }

  &-img {
    & > img {
      max-width: 100%;
      height: auto;
      position: relative;
      z-index: 2;

      @include media-breakpoint-down(lg) {
        max-width: 390px;
      }
    }
    &-bg {
      background-color: #F9F9F9;
      height: 130%;
      width: 50vw;
      transform: translate(-100%, -50%);

      @include media-breakpoint-down(lg) {
        height: 75%;
      }
    }
  }

  &-content {
    & > img {
      margin-bottom: 19px;
    }
  }
  &-text {
    margin-bottom: 19px;

    & > .hs_cos_wrapper {
      & > h2 {
        @include title-m;

        margin-bottom: 19px;

        max-width: 1135px;
      }

      & > p {
        @include text-m;

        max-width: 576px;
        margin-bottom: 24px;

        @include media-breakpoint-down(xxl) {
          margin-bottom: 12px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.message {
  padding-bottom: 180px;

  @include media-breakpoint-down(xxl) {
    padding-bottom: 130px;
  }

  &-img {
    & img {
      max-width: 100%;
      height: auto;
    }

    &-1 {
      top: 0;
      left: 0;
      transform: translate(0%, -105%);

      @include media-breakpoint-down(xxxm) {
        transform: translate(10%, -110%);
        max-width: 235px;
      }
    }
    &-2 {
      right: 0;
      top: -17%;
      transform: translate(63%, -1%);

      @include media-breakpoint-down(xxxm) {
        transform: translate(44%,-13%);
        max-width: 235px;
      }
    }
    &-3 {
      bottom: 0;
      left: 0;
      transform: translate(-64%, 42%);

      @include media-breakpoint-down(xxxm) {
        transform: translate(-53%,48%);
        max-width: 244px;
      }

      @include media-breakpoint-down(lg) {
        max-width: 170px;
        transform: translate(-28%,48%);
        opacity: .5;
      }
    }
  }

  &-dots {
    right: 0;
    bottom: 0;
    transform: translate(16%,75%);

    @include media-breakpoint-down(xxxm) {
      transform: translate(4%,55%);
      max-width: 85px;
    }
  }

  &-text {
    & > .hs_cos_wrapper {
      & > p {
        @include text-s;
        font-weight: 500;
        text-transform: uppercase;
        color: #B8B8B8;
        margin-bottom: 7px;
      }
      & > div {
        & > h2 {
          @include title-s;
          font-weight: 500;
          line-height: 34px;
          margin-bottom: 12px;

          max-width: 622px;

          @include media-breakpoint-down(xxl) {
            max-width: 546px;
            margin-bottom: 6px;
          }
        }
        & > p {
          @include text-m;
          margin-bottom: 16px;

          max-width: 590px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin make-values-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 1420px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-down(xxxm) {
    max-width: 1200px;
  }

  @include media-breakpoint-down(xxl) {
    max-width: 1090px;
  }
}

.values {
  padding-bottom: 220px;

  @include media-breakpoint-down(xxxl) {
    padding-bottom: 195px;
  }

  @include media-breakpoint-down(xxxm) {
    padding-bottom: 165px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 65px;
  }

  &-container {
    @include make-values-container(12px);

    & > div {
      width: 100%;
    }
  }

  &-text {
    & > .hs_cos_wrapper {
      & > h2 {
        @include title-m;
        margin-bottom: 12px;

        & > br {
          display: none;

          @include media-breakpoint-down(sm) {
            display: block;
          }
        }
      }
      & > p {
        @include text-m;
        margin-bottom: 16px;
      }
      & > * {
        &:last-of-type {
          margin-bottom: 33px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &-item {
    border-right: 1px solid #CECECE;
    border-bottom: 1px solid #CECECE;

    width: 33.333%;
    --bs-aspect-ratio: 39.73799%;

    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
      border-top: 1px solid #CECECE;
    }

    &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(7) {
    //  border-left: 1px solid #CECECE;
    }
    &:nth-of-type(3n+1) {
      border-left: 1px solid #CECECE;
    }

    @include media-breakpoint-down(lg) {
      width: 50%;

      &:nth-of-type(3) {
        border-top: none;
      }

      &:nth-of-type(3n+1) {
        border-left: none;
      }

      &:nth-of-type(2n+1) {
        border-left: 1px solid #CECECE;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;

      &:nth-of-type(2) {
        border-top: none;
      }
      &:nth-of-type(1n+1) {
        border-left: 1px solid #CECECE;
      }
      --bs-aspect-ratio: 19.73799%;
    }

    @include media-breakpoint-down(sm) {
      --bs-aspect-ratio: 30.73799%;
    }

    &-inner  {
      padding: 35px 38px;

      @include media-breakpoint-down(xxxl) {
        padding: 30px 33px;
      }

      @include media-breakpoint-down(xxxm) {
        padding: 26px 29px;
      }

      @include media-breakpoint-down(xxl) {
        padding: 18px 21px;
      }

      @include media-breakpoint-down(lg) {
        padding: 13px 21px;
      }
    }

    &-icon {
      width: 61px;
      margin-right: 21px;

      @include media-breakpoint-down(xxxl) {
        margin-right: 18px;
      }
    }

    &-content {

      @include media-breakpoint-down(md) {
        max-width: 300px;
      }

      & > .hs_cos_wrapper {
        & > h3 {
          @include title-xs;
          margin-bottom: 6px;

          @include media-breakpoint-down(xxl) {
            margin-bottom: 4px;
          }

          @include media-breakpoint-down(xl) {
            margin-bottom: 1px;
          }
        }
        & > p {
          @include text-m;

          @include media-breakpoint-down(xxl) {
            @include text-s;
          }

          margin-bottom: 12px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin make-tuev-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 1420px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.tuev {
  padding-bottom: 215px;

  @include media-breakpoint-down(xxxl) {
    padding-bottom: 190px;
  }

  @include media-breakpoint-down(xxxm) {
    padding-bottom: 165px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 65px;
  }

  &-container {
    @include make-tuev-container(12px);
  }

  &-bg {
    background-color: #F1F1F1;
    height: 145%;
    width: 50vw;

    transform: translate(-50px, -50%);

    @include media-breakpoint-down(xxl) {
      height: 125%;
    }

    @include media-breakpoint-down(xl) {
      height: 120%;
      transform: translate(-35px, -50%);
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-text {
    & > .hs_cos_wrapper {
      & > h2 {
        @include title-m;
        margin-bottom: 6px;
      }
      & > p {
        @include text-m;
        margin-bottom: 12px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  &-content {
    @include media-breakpoint-down(lg) {
      max-width: 370px;
    }

    & > img {
      margin-left: -14.5px;
      margin-bottom: 11.5px;
    }
    &-inner {
      & > .hs_cos_wrapper {
        & > h2 {
          @include title-s;
          margin-bottom: 6px;
        }
        & > p {
          @include text-m;
          margin-bottom: 12px;

          &:last-of-type {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

.contact {
  padding-bottom: 150px;

  @include media-breakpoint-down(xxxl) {
    padding-bottom: 130px;
  }

  & > .container {
    & > img {
      margin-bottom: 22px;
    }
  }

  &-text {
    & > .hs_cos_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > h2 {
        @include title-m;
        margin-bottom: 23px;

        & > br {
          display: none;

          @include media-breakpoint-down(sm) {
            display: block;
          }
        }

        @include media-breakpoint-down(xxl) {
          margin-bottom: 12px;
        }
      }
      & > p {
        @include text-m;
        margin-bottom: 12px;

        max-width: 615px;

        &:last-of-type {
          margin-bottom: 22px;

          @include media-breakpoint-down(xxl) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}